# EXPO_PUBLIC_API_URL=http://localhost:3001/api/v1
EXPO_PUBLIC_API_URL= http://192.168.1.7:3001/api/v1
# Sur Android émulateur, remplacer localhost par 10.0.2.2
# Sur device physique, utiliser l'IP locale de votre machine (ex: http://192.168.1.x:3001/api/v1)
